<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.boardMapper">

<!-- 작성 -->
<insert id="write">
	insert into myBoard(bno, title, content, writer)
		values (myBoard_seq.nextval, #{title}, #{content}, #{writer})
</insert>

<!-- 조회 -->
<select id="read" resultType="com.board.domain.BoardVO">
	select bno, title, content, writer, regDate, viewCnt
	from myBoard
	where bno = #{bno}
</select>

<!-- 수정 -->
<update id="update">
	update myBoard
	set
		title = #{title},
		content = #{content}
	where bno = #{bno}
</update>

<!-- 삭제 -->
<delete id="delete">
	delete from
		myBoard
	where bno = #{bno}
</delete>

<!-- 목록 -->
<select id="list" resultType="com.board.domain.BoardVO">
	select bno, title, writer, regDate
	from myBoard
	order by bno desc
</select>

<!-- 페이징 처리   Criteria는 시작값과 끝값을 다루는 클래스입니다. -->
<select id="listPage" resultType="com.board.domain.BoardVO" parameterType="com.board.domain.Criteria">
	select bno, title, content, writer, regDate, viewCnt
		from(
			select bno, title, content, writer, regDate, viewCnt,
				row_number() over(order by bno desc) as rNum
			from myBoard
		) mb
		where rNum between #{rowStart} and #{rowEnd}
			order by bno desc
</select>

<!-- 게시물의 총 개수를 구하는 쿼리 -->
<select id="listCount" resultType="int">
	<![CDATA[
		select count(bno)
			from myBoard
				where bno > 0
	]]>
</select>
</mapper>